<h1 class="listing">All Listing</h1>

<%= link_to "Create New Listing", new_listing_path %>
<div class="search-bar">
<%= form_tag '/search', method: :get do %>
<%= text_field_tag :query %>
<%= submit_tag 'Search' %>
<% end %>

<div class="sort-by">
Sort by 
<%= sort "price" %>,
<%= sort "title" %>
</div>


<div class="row-fluid"><strong>Filter</strong>
<%= form_tag '/filter', method: :get do %>
<%= check_box_tag 'amenities[]', "kitchen" %>Kitchen <br>
<%= check_box_tag 'amenities[]', "sauna" %>Sauna <br>
<%= check_box_tag 'amenities[]', "pool" %>Pool <br>
<%= check_box_tag 'amenities[]', "gym" %>Gym <br>
<%= submit_tag 'Submit' %>
<% end %>
</div>
</div>

<br>
<div class="d-flex justify-content-center">
  <div class="align-baseline">

     <% @listings.each do |listing| %>
     <%= link_to listing.title, listing_path(listing) %><br>
     <%= image_tag(listing.image_url(:thumb).to_s) %><br>
     <%= listing.amount %><br>
     <%= listing.amenities%><br>
     <%= listing.user.email %><br>
     RM <%= listing.price %><br>
     <%= link_to "Book Now", new_listing_reservation_path(listing.id)%><br>
     <% end %>
     </div>
  </div> 
</div>
<%= paginate @listings %>
<%= page_entries_info @listings %> -->