<h1 class="listing">Search Result: <%=@listing.count%></h1>


<div class="search-bar">
<%#= form_tag '/search', method: :get do %>
<%#= text_field_tag :query, "Search Title" %>
<%#= submit_tag 'Search' %>
<%# end %>


<%#= form_tag("/search", method: :post) do %>
  <%#= label_tag(:title, "Search for:") %>
  <%#= text_field_tag :title %>
  <%#= submit_tag("Search") %>
<%# end %>


<br>
    <table class="listing-index">
    <tbody>
  
     <% @listing.each do |listing| %>
       <td>
     <%= link_to listing.title, listing_path(listing) %><br>
     <%= image_tag(listing.image_url(:thumb).to_s) %><br>
     <%= listing.city %><br>
     <%= listing.amount %><br>
     <%= listing.amenities%><br>
     <%= listing.user.email %><br>
     RM <%= listing.price %><br>
     <%= link_to "Book Now", new_listing_reservation_path(listing.id)%><br>
     <% end %>
     </td>
     </tbody>
    </table>
     </div>
  </div> 
</div>
<div class="paginate">
<%= paginate @listing %>
<%= page_entries_info @listing %>
</div>